@import "utils/_reset"

// Variables -----------------------------------------------------------------
$red-color = #e4032e
$dark-color = #1b1d1f

// Base ----------------------------------------------------------------------
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }

html
  font-size: 62.5%
  height: 100%

body
  font-size: 16px
  font-size: 1.6rem
  -webkit-hyphens: auto // no -moz since FF doesn’t support the next two properties
  -webkit-hyphenate-limit-before: 3
  -webkit-hyphenate-limit-after: 5

body, legend, input, textarea, button
  font-family: 'pt-sans', 'Helvetica Neue', 'Arial', 'sans-serif'
  line-height: 1.4
  color: #5d6770

a:link, a:visited { color: $red-color }
a:focus, a:hover
  color: $red-color
  text-decoration: underline

p, ul, ol, dl, blockquote, table, figure { margin: .8em 0 }

.clearfix, .wrap, ol
  &:after
    display: block
    content: ''
    clear: both

.newline
  &:after
    content: '\A'
    white-space: pre

::selection
  color: #fff
  background-color: $red-color

::moz-selection
  color: #fff
  background-color: $red-color
  
small {
  a:link, a:visited { color: #6a6d73; }
  a:hover, a:focus { color: $red-color; }
}

// Headings ------------------------------------------------------------------
hgroup > :first-child { margin-bottom: .3em }
hgroup > :first-child + * { margin-top: .3em }

h1, h2, h3, h4 { line-height: 1.1 }

h1
  color: $dark-color
  font-size: 32px
  font-size: 3.2rem
  margin: 0

h2
  color: #a8abb3
  font-size: 16px
  font-size: 1.6rem
  font-weight: 300
  text-transform: uppercase
  text-align: center
  padding: 0 0 3em
  margin: 0

h3
  color: $dark-color
  font-size: 24px
  font-size: 2.4rem
  margin: 1em 0

// Layout --------------------------------------------------------------------
.wrap
  position: relative
  max-width: 1105px
  margin: 0 auto

section
  position: relative
  padding: 2.75em 0 3.65em

  &:before
    z-index: -1
    display: block
    content: ''
    position: absolute
    top: -55px; left: 0
    width: 100%; height: 165px
    background: url(../images/fold.png) center top repeat

ul, ol
  margin: 0
  padding: 0

li
  list-style-type: none
  display: inline

.dark
  color: $dark-color

.col
  float: left
  margin: 0
  padding: 0 2%

.col-2
  width: 50%

.col-3
  width: 33.3%

// Header --------------------------------------------------------------------
header
  position: relative
  overflow: hidden
  background: #e4032e url(../images/header-bg.png) center bottom repeat
  background: -webkit-linear-gradient(top, rgba(228,3,46,0.2), rgba(50,64,79,0.2)), url(../images/header-bg.png) center bottom repeat, #e4032e

  ::selection { background-color: #000 }
  ::moz-selection { background-color: #000 }

  a:link, a:visited { color: #fff }
  a:focus, a:link:hover { color: #fff }

  .wrap
    position: relative

  .height-hack { padding: 47% 0 0 }

  figure
    position: absolute
    left: 0; bottom: -61px
    margin: 0
    width: 42.171945701%
    max-width: 466px

    img
      display: block
      width: 100%

    .key
      position: absolute
      display: block
      width: 19px; height: 19px

      border-radius: 19px
      -moz-border-radius: 19px

      &:nth-child(2) { bottom: 32.5%; right: 31.6% }
      &:nth-child(3) { bottom: 29.3%; right: 27.9% }
      &:nth-child(4) { bottom: 26.3%; right: 31.6% }
      &:nth-child(5) { bottom: 29.3%; right: 35.4% }

  h1
    position: absolute
    bottom: 132px; right: 18px
    width: 50%
    max-width: 530px

    img { width: 100% }

  nav
    position: absolute
    bottom: 1em
    right: 18px
    text-transform: uppercase

    li:first-child { font-weight: 700 }
    li + li { margin: 0 0 0 1em }
    li a
      padding-bottom: 1em
      -webkit-transition: padding 0.1s
      -moz-transition: padding 0.1s
      -ms-transition: padding 0.1s
      -o-transition: padding 0.1s
      transition: padding 0.1s

      &:hover, &:focus
        border-bottom: 3px solid #fff
        padding-bottom: 0.875em
        text-decoration: none

  .hint
    position: absolute
    top: 5px; right: 18px
    opacity: .9

    li
      display: block
      float: left
      width: 24px; height: 24px
      line-height: 24px
      color: #ff8a8a
      font-size: 12px
      font-size: 1.2rem
      text-align: center

      border-radius: 24px
      -moz-border-radius: 24px

      &.valid
        background-color: #fff
        color: $red-color

    li + li { margin: 0 0 0 .3em }

// Intro ---------------------------------------------------------------------
#intro
  color: $dark-color

  &:before, &:after
    display: none

  div.col
    display: block
    font-size: 18px
    font-size: 1.8rem
    line-height: 1.3
    font-weight: 400

    strong
      display: block
      padding: 0 1.5em 0.3em 0
      font-size: 30px
      font-size: 3.0rem
      font-weight: 700
      line-height: 1.1

  p
    padding-top: .7em
    padding-right: 2em

// Inscription ---------------------------------------------------------------
#inscription, #registration
  ol
    padding: 0 2%

    -webkit-hyphens: none
    -moz-hyphens: none
    -ms-hyphens: none
    -o-hyphens: none
    hyphens: none

  li
    float: left
    font-size: 18px
    font-size: 1.8rem
    line-height: 1.2
    color: $dark-color
    font-weight: 700
    padding: 1em 2em 0

    h3
      font-size: 18px
      font-size: 1.8rem
      line-height: 1.2
      padding: 0
      margin: 0

      small
        font-size: 16px
        font-size: 1.6rem
        line-height: 1.5
        color: #5a5f65
        display: block
        font-weight: 400
        margin-bottom: 0.25em

    span
      color: #a8abb3
      font-size: 13px
      font-size: 1.3rem
      font-weight: 400

  #game
    height: 97px
    padding-left: 142px
    padding-right: 0
    background: url(../images/video-game.png) left top no-repeat

  #animation
    height: 103px
    padding-left: 110px
    background: url(../images/animation.png) left top no-repeat

  #painting
    height: 97px
    padding-left: 100px
    background: url(../images/paint.png) left top no-repeat

  a.button
    display: block
    width: 55%
    margin: 2em auto 0
    color: #fff
    font-size: 24px
    font-size: 2.4rem
    text-align: center
    padding: .7em 0
    background-color: $red-color

    border-radius: 65px
    -moz-border-radius: 65px

    -webkit-box-shadow: 0 9px 7px rgba(27,42,78,.05)
    -moz-box-shadow: 0 9px 7px rgba(27,42,78,.05)
    -ms-box-shadow: 0 9px 7px rgba(27,42,78,.05)
    -o-box-shadow: 0 9px 7px rgba(27,42,78,.05)
    box-shadow: 0 9px 7px rgba(27,42,78,.05)

    -webkit-transition: all 0.1s ease
    -moz-transition: all 0.1s ease
    -ms-transition: all 0.1s ease
    -o-transition: all 0.1s ease
    transition: all 0.1s ease

    &:hover, &:focus
      width: 58%
      background-color: #ec0f39
      text-decoration: none

  .wrap > small, figcaption
    display: block
    width: 58%
    margin: 0 auto
    color: #a8abb3
    font-size: 12px
    font-size: 1.2rem
    text-align: center
    padding: 1em 5em 0

  #photos
    padding: 3em 0 0

  figure
    padding: 0 1%
    position: relative

    img
      display: block
      width: 100%
      max-width: 360px
      margin: 0 auto
      border: solid 5px #fff
      border-radius: 5px
      -webkit-box-shadow: 0 2px 7px rgba(27,42,78,.1)

    figcaption { width: 100% }

    &:nth-child(1)
      z-index: 2
      position: relative
      left: 45px

      img
        -webkit-transform: rotate(-2deg)

    &:nth-child(2)
      z-index: 1
      position: relative

      img
        -webkit-transform: rotate(1deg)

    &:nth-child(3)
      z-index: 0
      position: relative
      left: -45px

      img
        -webkit-transform: rotate(-2deg)

// Testimonials --------------------------------------------------------------
#testimonials
  blockquote
    position: relative
    padding-right: 4.6em
    background: url(../images/blockquote-bg.png) left bottom no-repeat
    -webkit-background-size: 90% 79px
    -moz-background-size: 90% 79px
    -ms-background-size: 90% 79px
    -o-background-size: 90% 79px
    background-size: 90% 79px

    &:after
      position: absolute
      left: 31px; bottom: 60px
      content: url(../images/blockquote-arrow.png)

    div
      @extend .clearfix
      padding: 2.25em 0 0

    img, p
      float: left
      margin: 0

    p
      padding: .75em 0 0 .5em

    span
      display: block
      line-height: 1
      font-weight: 700
      color: $dark-color

// Judges --------------------------------------------------------------------
#judges
  figure a
    @extend .newline

  figure
    padding-right: 5.5%
    text-align: center

    p, a { display: block; text-align: left }

  div.col
    @extend .clearfix
    color: $dark-color
    padding-top: 5.5em
    float: none
    clear: left
    margin: 0 auto
    text-align: center

    span
      font-size: 24px
      font-size: 2.4rem
      font-weight: 700
      padding: .5em 0 0

    ul, li
      display: inline-block
      text-align: left

    ul { padding: 0 0 0 3.75em }
    li
      position: relative
      top: 1em

    li + li
      position: relative
      padding: 0 0 0 5.4em

      &:after
        display: block
        content: '+'
        position: absolute
        top: 50%; left: 35px
        font-weight: 700
        font-size: 21px
        font-size: 2.1rem
        line-height: 0

    h3
      margin: 0
      float: left
      font-size: 16px
      font-size: 1.6rem
      line-height: 1.25
      padding: .85em 0 0 1.1em

    small
      display: block
      color: #5D6770
      font-weight: 400
      font-size: 16px
      font-size: 1.6rem

    img { float: left }

  .social
    clear: left
    font-size: 18px
    font-size: 1.8rem
    font-weight: 700
    color: $dark-color
    text-align: center
    padding: 2em 0 0

  .tw { color: #03b7e4 }
  .fb { color: #0348e4 }

// Sponsors ------------------------------------------------------------------
#sponsors
  padding-bottom: 0

  ul
    @extend .clearfix
    margin: 0 2%
    padding: 33px 0 13px

    [data-id] { position: relative }
    [data-id="1"] { top: 17px }
    [data-id="2"] { top: 24px }
    [data-id="3"] { top: 0 }

    [data-id="4"] { top: 0 }
    [data-id="5"] { top: 10px }

    [data-id="6"] { top: 0 }
    [data-id="7"] { top: 3px }
    [data-id="8"] { top: 14px }
    [data-id="9"] { top: 27px }
    [data-id="10"] { top: 62px }
    [data-id="11"] { top: 49px }
    [data-id="12"] { top: 47px }
    [data-id="13"] { top: 49px }

  ul + ul
    border-top: 1px dashed #ececec

  .first
    padding-top: 0
    li { width: 33.3% }

  .second li { width: 50% }
  .third li { width: 33.3% }

  li
    height: 100px
    float: left

  a
    display: block
    width: 90%
    margin: 0 auto

  img
    display: block
    max-width: 100%
    margin: 0 auto
  
  .signature
    margin-top: 100px
    text-align: center
    
    & > a 
      background: url(/images/sponsors/heliom.png) center center no-repeat
      position: relative
      display: block
      width: 65px 
      height: 50px
      opacity: 0.75
      -webkit-transition: all .25s ease-out
      -moz-transition: all .25s ease-out
      -ms-transition: all .25s ease-out
      -o-transition: all .4s ease-out
      transition: all .25s ease-out
      
      &:hover, &:focus  
        opacity: 1
        top: -.4em
      
    small
      display: block
      padding: 1em 0 1.5em
      color: #a8abb3
      font-size: 12px
      font-size: 1.2rem
      
      a { display: inline; }
    

// Invaders ------------------------------------------------------------------
.playing
  height: 525px
  padding: 0

  .height-hack { display: none }
  .wrap { height: 100% }

  h1, nav, .hint
    opacity: 0
    -webkit-transition: opacity .4s ease-out
    -moz-transition: opacity .4s ease-out
    -ms-transition: opacity .4s ease-out
    -o-transition: opacity .4s ease-out
    transition: opacity .4s ease-out

.score, .score-increment
  position: absolute
  bottom: 5px; left: 10px
  color: #fff
  font-size: 22px
  font-size: 2.2rem
  font-weight: 700

.score-increment
  bottom: 25px; left: 56px
  -webkit-transition: bottom .4s ease-out, opacity .4s ease-out
  -moz-transition: bottom .4s ease-out, opacity .4s ease-out
  -ms-transition: bottom .4s ease-out, opacity .4s ease-out
  -o-transition: bottom .4s ease-out, opacity .4s ease-out
  transition: bottom .4s ease-out, opacity .4s ease-out

  &.animate
    bottom: 75px
    opacity: 0

.ship
  width: 466px

  -webkit-transition: -webkit-transform .4s ease-out
  -moz-transition: -moz-transform .4s ease-out
  -ms-transition: -ms-transform .4s ease-out
  -o-transition: -o-transform .4s ease-out
  transition: transform .4s ease-out

  -webkit-transform: rotate(-90deg) scale(.3) translate3d(-560px,0,0)
  -moz-transform: rotate(-90deg) scale(.3) translateX(-560px)
  -ms-transform: rotate(-90deg) scale(.3) translateX(-560px)
  -o-transform: rotate(-90deg) scale(.3) translateX(-560px)
  transform: rotate(-90deg) scale(.3) translateX(-560px)

  img
    -webkit-transform: translate3d(0,0,0)
    -moz-transform: translateX(0)
    -ms-transform: translateX(0)
    -o-transform: translateX(0)
    transform: translateX(0)

  .bullet
    position: absolute
    top: 50%; left: 80%
    display: block
    width: 125px; height: 20px
    background-color: #fff
    margin: -20px 0 0 0

    border-radius: 20px
    -moz-border-radius: 20px

.enemies
  position: relative
  width: 700px
  margin: 0 auto

.enemy
  display: block
  width: 60px; height: 60px
  float: left
  margin: 5px 3px
  background: url(../images/enemies.spr.png) left top no-repeat

  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  -ms-transform: scale(1)
  -o-transform: scale(1)
  transform: scale(1)

  -webkit-transition: -webkit-transform .3s ease-in-out
  -moz-transition: -moz-transform .3s ease-in-out
  -ms-transition: -ms-transform .3s ease-in-out
  -o-transition: -o-transform .3s ease-in-out
  transition: transform .3s ease-in-out

  &.hidden
    -webkit-transform: scale(0)
    -moz-transform: scale(0)
    -ms-transform: scale(0)
    -o-transform: scale(0)
    transform: scale(0)

  &.paolo
    background-position: 0 0
    &.dead { background-position: 0 -60px }

  &.ramiro
    background-position: -60px 0
    &.dead { background-position: -60px -60px }

  &.zach
    background-position: -120px 0
    &.dead { background-position: -120px -60px }

  &.dead
    position: relative
    top: 75px
    opacity: 0

    -webkit-transition: top .4s ease-in-out, opacity .4s ease-out
    -moz-transition: top .4s ease-in-out, opacity .4s ease-out
    -ms-transition: top .4s ease-in-out, opacity .4s ease-out
    -o-transition: top .4s ease-in-out, opacity .4s ease-out
    transition: top .4s ease-in-out, opacity .4s ease-out

.end-game
  position: absolute
  top: 124px
  font-size: 38px
  font-size: 3.8rem
  color: #fff
  text-align: center
  width: 100%

  -webkit-transition: top .4s ease-out, opacity .4s ease-out
  -moz-transition: top .4s ease-out, opacity .4s ease-out
  -ms-transition: top .4s ease-out, opacity .4s ease-out
  -o-transition: top .4s ease-out, opacity .4s ease-out
  transition: top .4s ease-out, opacity .4s ease-out

  & > span
    font-size: 128px
    font-size: 12.8rem
    line-height: 128px
    font-weight: 700

  p { margin: 0 }

  .social-share
    position: relative
    top: 8px; left: 50%
    margin-left: -85px

    -webkit-transition: top .5s ease-out, opacity .5s ease-out
    -moz-transition: top .5s ease-out, opacity .5s ease-out
    -ms-transition: top .5s ease-out, opacity .5s ease-out
    -o-transition: top .5s ease-out, opacity .5s ease-out
    transition: top .5s ease-out, opacity .5s ease-out

    * { float: left }

    &.hidden
      top: -35px
      opacity: 0

  &.hidden
    top: 175px
    opacity: 0

// IE ------------------------------------------------------------------------
.ie8
  body, html
    min-width: 906px

  #inscription, #registration
    a { margin-top: 3em }
      
.ie7
  .col-2 { width: 45% }
  .col-3 { width: 25% }

  #inscription, #registration
    .col-3 { width: 20% }

  #testimonials blockquote { width: 40% }

  #judges div.col ul { text-align: center }
  #judges div.col li { display: inline }
  
  #sponsors
    .signature 
      padding-top: 100px

// Media Queries -------------------------------------------------------------
@media (max-width: 960px)
  .wrap { min-width: 730px }

  #intro
    div.col { padding-right: .9em }
    p { padding-right: 1.9em }

  #inscription, #registration
    #game
      padding-left: 100px
      background-size: 90px
      width: 35%

    #animation
      padding-left: 73px
      background-size: 60px
      width: 32%

    #painting
      padding-left: 65px
      float: right
      width: 33%
      background-size: 48px

    #game, #animation, #painting
      background-position: 0 5px
      padding-right: 0

  #testimonials
    blockquote { padding-right: 1em }

  #judges
    img { max-width: 200px }
    figure { padding-right: 1% }

  #sponsors
    .wrap { width: 99% }

@media (max-width: 730px)
  html { font-size: 9px }
  body { line-height: 1.5 }
  .wrap { min-width: 460px }
  .col-2, .col-3 { width: 100% }

  header
    figure { display: none }
    .hint { display: none }

    h1
      width: 80%
      top: 10%; bottom: auto
      margin: 0 auto

    nav li a
      &:hover, &:focus { padding-bottom: .95em }

  section
    &:before
      position: absolute
      top: -75px; left: 0
      width: 288px; height: 192px
      background: url(../images/side-fold.png) -144px top no-repeat
      -webkit-background-size: 100%

    &:after
      z-index: -1
      display: block
      content: ''
      position: absolute
      top: -75px; right: 0
      width: 288px; height: 192px
      background: url(../images/side-fold.png) 144px top no-repeat
      -webkit-background-size: 100%

  #inscription, #registration
    #game, #animation, #painting
      padding-left: 105px
      width: 100%

    #animation
      position: static
      left: 0
      background-position: 14px 10px

    #painting
      float: left
      background-position: 20px 10px

    a.button { width: 94.5% }
    a:hover, a:focus { width: 94.5% }

    .wrap > small { width: 96% }

    figure
      left: 0 !important

      img
        -webkit-transform: rotate(0) !important

    figure + figure { padding-top: 2em }

  #testimonials
    blockquote
      img { width: 42px }
      div { height: 96px }
      p { padding-top: 0.5em }
      &:after
        left: 18px

    blockquote + blockquote { padding-top: 3em }

  #judges
    h3 { text-align: center }

    figure + figure
      padding-top: 3em

    img
      display: block
      max-width: 150px
      margin: 0 auto

    div.col
      float: none
      clear: both

      span
        display: block
        width: 100%
        text-align: center

      h3
        padding-top: .5em
        text-align: left

      ul { padding-left: 0 }
      li img { width: 42px }

  #sponsors
    .first li { width: 50% }
    .first li:nth-child(3) { width: 100% }
    .third li { width: 50% }

@media (max-width: 460px)
  .wrap
    width: 90%
    min-width: inherit

  .col
    padding-left: 0 !important
    padding-right: 0 !important

  section { padding-top: 1.75em }

  header
    .height-hack { padding: 70% 0 0 }
    h1 { top: 25% }
    background: #e4032e -webkit-linear-gradient(top, rgba(228,3,46,0.2), rgba(50,64,79,0.2))

  #intro
    div.col
      display: block
      font-size: 18px
      font-size: 1.8rem
      line-height: 1.4
      font-weight: 400

      strong
        display: block
        padding: 0 1.5em 0.5em 0
        font-size: 24px
        font-size: 2.1rem
        font-weight: 700
        line-height: 1.3

  #inscription, #registration
    a.button
      font-size: 18px
      font-size: 1.8rem

    .wrap > small
      padding: 1em 0.5em 0

    li { padding-left: 105px !important }

  #testimonials
    blockquote:after
      left: 5px

  #judges
    div.col
      width: 100%
      float: none

      span
        font-size: 22px
        font-size: 2.2rem

      h3 { padding-left: .3em }

      ul { width: 100% }
      li img { width: 42px }

      li + li
        float: right
        padding-left: 0
        &:after { display: none }

@media (max-width: 348px)
  header nav li + li
    margin: 0 0 0 .3em
    
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5), only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2)
  #sponsors
    .signature > a
      background-image: url(/images/sponsors/heliom2x.png)
      background-size: 100%
      
