@import "utils/_reset"

// Variables -----------------------------------------------------------------
$red-color = #e4032e
$dark-color = #1b1d1f

// Base ----------------------------------------------------------------------
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }

html
  font-size: 62.5%
  height: 100%

body
  font-size: 16px
  font-size: 1.6rem
  -webkit-hyphens: auto; // no -moz since FF doesn’t support the next two properties
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 5;

body, legend, input, textarea, button
  font-family: 'pt-sans', 'Helvetica Neue', 'Arial', 'sans-serif'
  line-height: 1.4
  color: #5d6770

a:link, a:visited { color: $red-color }
a:focus, a:link:hover { color: $red-color }

p, ul, ol, dl, blockquote, table, figure { margin: .8em 0 }

.clearfix, .wrap, ol
  &:after
    display: block
    content: ''
    clear: both

.newline
  &:after
    content: '\A'
    white-space: pre

// Headings ------------------------------------------------------------------
hgroup > :first-child { margin-bottom: .3em }
hgroup > :first-child + * { margin-top: .3em }

h1, h2, h3, h4 { line-height: 1.1 }

h1
  color: $dark-color
  font-size: 32px
  font-size: 3.2rem
  margin: 0

h2
  color: #acafb3
  font-size: 16px
  font-size: 1.6rem
  font-weight: 300
  text-transform: uppercase
  text-align: center
  padding: 0 0 3em
  margin: 0

h3
  color: $dark-color
  font-size: 24px
  font-size: 2.4rem
  margin: 1em 0

// Layout --------------------------------------------------------------------
.wrap
  position: relative
  width: 934px
  margin: 0 auto

section
  position: relative
  padding: 2.75em 0 3.65em

  &:before
    z-index: -1
    display: block
    content: ''
    position: absolute
    top: -55px; left: 0
    width: 100%; height: 165px
    background: url(../images/fold.png) center top repeat

ul, ol
  margin: 0
  padding: 0

li
  list-style-type: none
  display: inline

.dark
  color: $dark-color

.col
  float: left
  margin: 0
  padding: 0 2%

.col-2
  width: 50%

.col-3
  width: 33.3%

// Header --------------------------------------------------------------------
header
  overflow: hidden
  height: 430px
  background: url(../images/header-bg.png) center top repeat
  
  a:link, a:visited { color: #fff }
  a:focus, a:link:hover { color: #fff }

  .wrap
    height: 100%

  figure
    position: absolute
    left: 0; bottom: -47px
    margin: 0

    .key
      position: absolute
      display: block
      width: 15px; height: 15px
      border-radius: 15px

      &:nth-child(2) { bottom: 157px; right: 122px }
      &:nth-child(3) { bottom: 142px; right: 107px }
      &:nth-child(4) { bottom: 128px; right: 122px }
      &:nth-child(5) { bottom: 142px; right: 136px }

  h1
    position: absolute
    bottom: 78px; right: 18px
    width: 425px; height: 139px
    background: url(../images/bivouac-boulevard-scion.png) left top no-repeat
    text-indent: 100%
    white-space: nowrap  
    overflow: hidden

  nav
    position: absolute
    bottom: 1.5em; right: 18px
    text-transform: uppercase

    li:first-child { font-weight: 700 }
    li + li { margin: 0 0 0 1em }

  .hint
    position: absolute
    top: 5px; right: 18px
    opacity: .75

    li
      display: block
      float: left
      width: 24px; height: 24px
      color: #ff8a8a
      text-align: center
      border-radius: 24px

      &.valid
        background-color: #fff
        color: $red-color

    li + li { margin: 0 0 0 .3em }

// Intro ---------------------------------------------------------------------
#intro
  color: $dark-color

  &:before
    display: none

  div.col
    font-size: 30px
    font-size: 3.0rem
    line-height: 1.1
    padding-right: 1.5em

  p
    padding-top: .7em
    padding-right: 2em

  small
    display: block
    font-size: 18px
    font-size: 1.8rem
    line-height: 1.3
    padding: 1em 0 0

// Inscription ---------------------------------------------------------------
#inscription
  ol
    padding: 0 2%
    -webkit-hyphens: none

  li
    float: left
    font-size: 18px
    font-size: 1.8rem
    line-height: 1.2
    color: $dark-color;
    font-weight: 700
    padding: 1em 2em 0

    small
      font-size: 16px
      font-size: 1.6rem
      line-height: 1.5
      color: #5a5f65
      display: block
      font-weight: 400

  #game
    height: 97px
    padding-left: 145px
    padding-right: 3em
    background: url(../images/video-game.png) left top no-repeat

  #animation
    height: 103px
    padding-left: 110px
    background: url(../images/animation.png) left top no-repeat

  #painting
    height: 97px
    padding-left: 100px
    background: url(../images/paint.png) left top no-repeat

  a
    display: block
    width: 55%
    margin: 2em auto 0
    color: #fff
    font-size: 24px
    font-size: 2.4rem
    text-align: center
    padding: .7em 0
    background-color: $red-color
    border-radius: 65px

    -webkit-box-shadow: 0 9px 7px rgba(27,42,78,.05)

  .wrap > small
    display: block
    width: 55%
    margin: 0 auto
    font-size: 12px
    font-size: 1.2rem
    text-align: center
    padding: 1em 5em 0

// Testimonials --------------------------------------------------------------
#testimonials
  blockquote
    position: relative
    padding-right: 4.6em
    background: url(../images/blockquote-bg.png) left bottom no-repeat
    -webkit-background-size: 90% 79px

    &:after
      position: absolute
      left: 31px; bottom: 60px
      content: url(../images/blockquote-arrow.png)

    div
      @extend .clearfix
      padding: 2.25em 0 0

    img, p
      float: left
      margin: 0

    p
      padding: .75em 0 0 .5em

    span
      display: block
      line-height: 1
      font-weight: 700
      color: $dark-color

// Judges --------------------------------------------------------------------
#judges
  a
    @extend .newline

  figure
    padding-right: 5.5%

  // figcaption p
  // min-height: 16.5em

  div.col
    color: $dark-color
    padding-top: 5.5em

    span
      font-size: 24px
      font-size: 2.4rem
      font-weight: 700
      float: left
      padding: .5em 0 0

    ul, li { float: left }
    ul { padding: 0 0 0 3.75em }
    li + li
      position: relative
      padding: 0 0 0 5.4em

      &:after
        display: block
        content: '+'
        position: absolute
        top: 50%; left: 35px
        font-weight: 700
        font-size: 21px
        font-size: 2.1rem
        line-height: 0

    h3
      margin: 0
      float: left
      font-size: 16px
      font-size: 1.6rem
      padding: .85em 0 0 1.1em

    small
      display: block
      color: #7d8790
      font-weight: 400
      font-size: 16px
      font-size: 1.6rem

    img { float: left }

// Sponsors ------------------------------------------------------------------
#sponsors
  padding-bottom: 180px

  ul
    @extend .clearfix
    margin: 0 2%
    padding: 33px 0 13px

    [data-id] { position: relative }
    [data-id="1"] { top: 17px; left: -13px }
    [data-id="2"] { top: 24px; left: 1px }
    [data-id="3"] { left: 15px }

    [data-id="4"] { left: 32px }
    [data-id="5"] { top: 10px; left: -44px }

    [data-id="6"] { left: 24px }
    [data-id="7"] { top: 3px; left: -14px }
    [data-id="8"] { top: 14px; left: -33px }
    [data-id="9"] { top: 27px; left: -20px }
    [data-id="10"] { top: 62px; left: 15px }
    [data-id="11"] { top: 49px; left: 33px }
    [data-id="12"] { top: 47px; left: 49px }
    [data-id="13"] { top: 49px; left: 36px }
    img[data-id] { left: 0 }

  ul + ul
    border-top: 1px dotted #ececec

  .first
    padding-top: 0
    li { width: 33.3% }

  .second li { width: 50% }
  .third li { width: 25% }

  li
    height: 100px
    float: left

  a
    display: block
    width: 90%
    margin: 0 auto

  img
    display: block
    max-width: 100%
    margin: 0 auto

// Invaders ------------------------------------------------------------------
.playing
  h1, nav, .hint
    opacity: 0
    -webkit-transition: opacity .4s ease-out

.ship
  -webkit-transition: -webkit-transform .4s ease-out
  -webkit-transform: rotate(-90deg) scale(.3) translate3d(-455px,0,0)

  img { -webkit-transform: translate3d(0,0,0) }

  .bullet
    position: absolute
    top: 50%; left: 80%
    display: block
    width: 125px; height: 20px
    background-color: #fff
    border-radius: 20px
    margin: -20px 0 0 0

.enemies
  position: relative
  width: 700px
  margin: 0 auto

.enemy
  display: block
  width: 60px; height: 60px
  position: absolute
  top: 0; left: 0
  background: url(../images/enemies.spr.png) left top no-repeat

  &.paolo { background-position: 0 0 }
  &.ramiro { background-position: -60px 0 }
  &.zach { background-position: -120px 0 }

// Media Queries -------------------------------------------------------------
@media (max-width: 960px)
  .wrap { width: 730px }

  #intro
    div.col { padding-right: .9em }
    p { padding-right: 1.9em }

  #inscription
    #game { padding-left: 135px }
    #animation { position: relative; left: 25px }
    #painting { float: right; width: 28% }
    #game, #animation, #painting { padding-right: 0 }

  #testimonials
    blockquote { padding-right: 1em }

  #judges
    img { max-width: 200px }
    figure { padding-right: 1% }
    div.col ul { padding: 1em 0 0 }

  #sponsors
    .wrap { width: 99% }

@media (max-width: 730px)
  .wrap { width: 460px }
  .col-2, .col-3 { width: 100% }

  #inscription
    #animation { position: static; left: 0 }
    #painting { float: left; width: 100% }
    a { width: 90% }
    .wrap > small { width: 96% }

  #testimonials
    blockquote + blockquote { padding-top: 3em }

  #judges
    img
      display: block
      max-width: 100%
      // margin: 0 auto

    figure + figure
      padding-top: 3em

    div.col
      span
        display: block
        width: 100%
        text-align: center

      ul { padding-top: .5em }

      li + li
        padding-left: 4.4em
        &:after { left: 25px }
