@import "utils/_reset"

// Variables -----------------------------------------------------------------
$main-color = #e4032e

// Base ----------------------------------------------------------------------
html
  font-size: 62.5%
  height: 100%

body
  font-size: 16px
  font-size: 1.6rem

body, legend, input, textarea, button
  font-family: 'pt-sans', 'Helvetica Neue', 'Arial', 'sans-serif'
  line-height: 1.4
  color: #333

a:link, a:visited { color: $main-color }
a:focus, a:link:hover { color: $main-color }

p, ul, ol, dl, blockquote, table, figure { margin: .8em 0 }

// Headings ------------------------------------------------------------------
hgroup > :first-child { margin-bottom: .3em }
hgroup > :first-child + * { margin-top: .3em }

h1, h2, h3, h4 { line-height: 1.1 }

h1
  color: #333
  font-size: 32px
  font-size: 3.2rem
  margin: 0

h2
  color: #333
  font-size: 24px
  font-size: 2.4rem
  margin: .8em 0

h3
  color: #333
  font-size: 19px
  font-size: 1.9rem
  margin: 1em 0

h4
  color: #333
  font-size: 16px
  font-size: 1.6rem
  margin: 1.3em 0

// Layout --------------------------------------------------------------------
.wrap
  width: 934px
  margin: 0 auto

// Header --------------------------------------------------------------------
header
  overflow: hidden
  height: 510px
  background: url(../images/header-bg.png) left top repeat
  
  a:link, a:visited { color: #fff }
  a:focus, a:link:hover { color: #fff }

  .wrap
    position: relative
    height: 100%

  img
    position: absolute
    left: 0; bottom: -47px

  h1
    position: absolute
    bottom: 78px; right: 18px
    width: 425px; height: 139px
    background: url(../images/bivouac-boulevard-scion.png) left top no-repeat
    text-indent: 100%
    white-space: nowrap  
    overflow: hidden

  nav
    position: absolute
    bottom: 1.5em; right: 18px
    text-transform: uppercase

    ul { margin: 0 }
    li
      list-style-type: none
      display: inline

    li:first-child { font-weight: 700 }
    li + li { margin: 0 0 0 1em }
