article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
fieldset,
input,
select,
button,
textarea,
figure {
  margin: 0;
  font-size: 100%;
  max-width: 100%;
}
fieldset,
legend,
a img {
  padding: 0;
  border: 0;
}
time {
  display: inline;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
-moz-document url-prefix() a:active {
  outline: 0;
}
[tabindex]:not(a) {
  outline: 0;
}
ul {
  padding: 0;
}
h1,
h2,
h3,
h4 {
  text-rendering: optimizeLegibility;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
address {
  font-style: normal;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.clear {
  zoom: 1;
}
.shy {
  position: absolute;
  left: -9999px;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: -4px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
}
body,
legend,
input,
textarea,
button {
  font-family: 'pt-sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  line-height: 1.4;
  color: #5d6770;
}
a:link,
a:visited {
  color: #e4032e;
}
a:focus,
a:link:hover {
  color: #e4032e;
}
p,
ul,
ol,
dl,
blockquote,
table,
figure {
  margin: 0.8em 0;
}
.clearfix:after,
.wrap:after,
ol:after,
#testimonials blockquote div:after,
#sponsors ul:after {
  display: block;
  content: '';
  clear: both;
}
.newline:after,
#judges a:after {
  content: '\A';
  white-space: pre;
}
hgroup > :first-child {
  margin-bottom: 0.3em;
}
hgroup > :first-child + * {
  margin-top: 0.3em;
}
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}
h1 {
  color: #1b1d1f;
  font-size: 32px;
  font-size: 3.2rem;
  margin: 0;
}
h2 {
  color: #acafb3;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  color: #1b1d1f;
  font-size: 24px;
  font-size: 2.4rem;
  margin: 1em 0;
}
.wrap {
  position: relative;
  width: 934px;
  margin: 0 auto;
}
section {
  padding: 2.75em 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display: inline;
}
em {
  font-style: normal;
  font-weight: 700;
}
.dark {
  color: #1b1d1f;
}
.col {
  float: left;
  margin: 0;
  padding: 0 2%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 33.3%;
}
header {
  overflow: hidden;
  height: 510px;
  background: url("../images/header-bg.png") center top repeat;
}
header a:link,
header a:visited {
  color: #fff;
}
header a:focus,
header a:link:hover {
  color: #fff;
}
header .wrap {
  height: 100%;
}
header figure {
  position: absolute;
  left: 0;
  bottom: -47px;
  margin: 0;
}
header figure .key {
  position: absolute;
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 19px;
}
header figure .key:nth-child(2) {
  bottom: 178px;
  right: 140px;
}
header figure .key:nth-child(3) {
  bottom: 161px;
  right: 123px;
}
header figure .key:nth-child(4) {
  bottom: 145px;
  right: 140px;
}
header figure .key:nth-child(5) {
  bottom: 161px;
  right: 156px;
}
header h1 {
  position: absolute;
  bottom: 78px;
  right: 18px;
  width: 425px;
  height: 139px;
  background: url("../images/bivouac-boulevard-scion.png") left top no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
header nav {
  position: absolute;
  bottom: 1.5em;
  right: 18px;
  text-transform: uppercase;
}
header nav li:first-child {
  font-weight: 700;
}
header nav li + li {
  margin: 0 0 0 1em;
}
header .hint {
  position: absolute;
  top: 12px;
  right: 18px;
}
header .hint li {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  color: #fff;
  text-align: center;
  border-radius: 24px;
}
header .hint li.valid {
  background-color: #fff;
  color: #e4032e;
}
header .hint li + li {
  margin: 0 0 0 0.3em;
}
#intro {
  color: #1b1d1f;
}
#intro div.col {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.1;
}
#intro p {
  padding-top: 0.7em;
}
#intro small {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3;
  padding: 1em 0 0;
}
#inscription li {
  font-size: 18px;
  font-size: 1.8rem;
  color: #1b1d1f;
  font-weight: 700;
  padding: 1em 0 0;
}
#inscription li small {
  font-size: 16px;
  font-size: 1.6rem;
  color: #5a5f65;
  display: block;
  font-weight: 400;
}
#inscription #game {
  height: 97px;
  padding-left: 145px;
  background: url("../images/video-game.png") left top no-repeat;
}
#inscription #animation {
  height: 103px;
  padding-left: 110px;
  background: url("../images/animation.png") left top no-repeat;
}
#inscription #painting {
  height: 97px;
  padding-left: 100px;
  background: url("../images/paint.png") left top no-repeat;
}
#inscription a {
  display: block;
  width: 55%;
  margin: 2em auto 0;
  color: #fff;
  font-size: 24px;
  font-size: 2.4rem;
  text-align: center;
  padding: 0.7em 0;
  background-color: #e4032e;
  border-radius: 65px;
}
#inscription .wrap > small {
  display: block;
  width: 55%;
  margin: 0 auto;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  padding: 1em 5em 0;
}
#testimonials blockquote {
  position: relative;
  background: url("../images/blockquote-bg.png") left bottom no-repeat;
}
#testimonials blockquote:after {
  position: absolute;
  left: 31px;
  bottom: 60px;
  content: url("../images/blockquote-arrow.png");
}
#testimonials blockquote div {
  padding: 2em 0 0;
}
#testimonials blockquote img,
#testimonials blockquote p {
  float: left;
  margin: 0;
}
#testimonials blockquote p {
  padding: 0.75em 0 0 0.5em;
}
#testimonials blockquote span {
  display: block;
  line-height: 1;
  font-weight: 700;
  color: #1b1d1f;
}
#judges figcaption p {
  min-height: 15em;
}
#judges div.col {
  color: #1b1d1f;
}
#judges div.col span {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  float: left;
  padding: 0.5em 0 0;
}
#judges div.col ul,
#judges div.col li {
  float: left;
}
#judges div.col ul {
  padding: 0 0 0 3.75em;
}
#judges div.col li + li {
  position: relative;
  padding: 0 0 0 5.4em;
}
#judges div.col li + li:after {
  display: block;
  content: '+';
  position: absolute;
  top: 50%;
  left: 35px;
  font-weight: 700;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 0;
}
#judges div.col h3 {
  margin: 0;
  float: left;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0.85em 0 0 1.1em;
}
#judges div.col small {
  display: block;
  color: #7d8790;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
}
#judges div.col img {
  float: left;
}
#sponsors {
  padding-bottom: 180px;
}
#sponsors ul {
  margin: 0 2%;
  padding: 33px 0 13px;
}
#sponsors ul [data-id] {
  position: relative;
}
#sponsors ul [data-id="1"] {
  top: 17px;
  left: -13px;
}
#sponsors ul [data-id="2"] {
  top: 24px;
  left: 1px;
}
#sponsors ul [data-id="3"] {
  left: 15px;
}
#sponsors ul [data-id="4"] {
  left: 32px;
}
#sponsors ul [data-id="5"] {
  top: 10px;
  left: -44px;
}
#sponsors ul [data-id="6"] {
  left: 24px;
}
#sponsors ul [data-id="7"] {
  top: 3px;
  left: -14px;
}
#sponsors ul [data-id="8"] {
  top: 14px;
  left: -33px;
}
#sponsors ul [data-id="9"] {
  top: 27px;
  left: -20px;
}
#sponsors ul [data-id="10"] {
  top: 62px;
  left: 15px;
}
#sponsors ul [data-id="11"] {
  top: 49px;
  left: 33px;
}
#sponsors ul [data-id="12"] {
  top: 47px;
  left: 49px;
}
#sponsors ul [data-id="13"] {
  top: 49px;
  left: 36px;
}
#sponsors ul + ul {
  border-top: 1px dotted #ececec;
}
#sponsors .first li {
  width: 33.3%;
}
#sponsors .second li {
  width: 50%;
}
#sponsors .third li {
  width: 25%;
}
#sponsors li {
  height: 100px;
  float: left;
}
#sponsors img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.playing h1,
.playing nav,
.playing .hint {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
}
.ship {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -webkit-transform: rotate(-90deg) scale(0.3) translate3d(-450px, 0, 0);
}
.ship img {
  -webkit-transform: translate3d(0, 0, 0);
}
.ship .bullet {
  position: absolute;
  top: 50%;
  left: 80%;
  display: block;
  width: 125px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin: -20px 0 0 0;
}
